.cuerpo{
    background-color: #54BAB9;
}

colors{
    color: #54BAB9;
    color: #9ED2C6;
    color: #E9DAC1;
    color: #F7ECDE;
}

.contenedor{
    display: grid;
    place-content: center;
    margin-top: 5%;
}


form{
    width: 600px;
    height: auto;
    background-color: #E9DAC1;
    border-radius: 15px;
    padding: 25px;
}

h1, h2{
    text-align: center;
}

img{
    width: 150px;
    background-color: #F7ECDE;
    border: 5px;
}

.card{
    width: 150px;
    padding: 10px;
}

.opciones{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  place-content: center;
}